<% if @services == @web %>
<div class="jumbotron jumbosmall"></div>
<% elsif @services == @grafisk %>
<div class="container-fluid bers row">
    <h1>ID 2</h1>
</div>

<% else %>

<div class="text-center">
    <h1>ID 3</h1>
</div>
<% end %>