<% if params[:service] == '1' %>
    <div class="jumbotron jumbosmall">
        
    </div>
    
    <div class="container-fluid bers-row">
        <div class="container">
            <div class="col-md-4">
                <p>dhuohduoahfuodhfuohdufohdsuohfudoshfuohsfuodshfushdfouoh</p>
            </div>
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
    </div>
    
<% elsif params[:service] == '2' %>

    <div class="container-fluid bers-row">
        <div class="container">
            <div class="col-md-4">
                <p>dhuohduoahfuodhfuohdufohdsuohfudoshfuohsfuodshfushdfouoh</p>
            </div>
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
    </div>
    
<% end %>