@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
    
// Gradient from http://uigradients.com/

        
}


.alert-notice {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.jumbotron {
    height: 500px;
    background-color: #650f0f;
    margin-top: -20px;
    color: white;
    background: #cb2d3e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #cb2d3e , #ef473a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #cb2d3e , #ef473a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

.jumbotron h1 {
    font-size: 100px;
    margin-top: 90px;
}

.bers-row {
    background-color: #F9F8F3;
    margin-top: 50px;
}

.bers-row2 {
    background-color: #F9F8F3;
    margin-top: 10px;
}

.footer-row {

    margin-top: 20px;    
    height: 200px;
    background: #16222A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #16222A , #3A6073); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #16222A , #3A6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

.white-row {
    margin-top: 10px;
}

.large-text {
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contact-icon {
    font-size: 12em;
}

.small-contact-icon {
    font-size: 6em;
    display: inline;
    margin-top: 30px;
    margin-bottom: 30px;
}

.fa-facebook-square {
    color: #0072ff;
}

.fa-youtube {
    color: #ad2b2b;
}

.fa-instagram {
    color: #243949;
}

.small-contact-text {
    font-size: 30px;
    font-weight: bold;
    margin-top: -70px;
    text-align: center;
    
}

hr {
    margin-bottom: 50px;
    margin-top: 50px;
}

.footer-text {
    color: white;
    font-size: 15px;
}

.white-header {
    color: white;
}

.footer-logo {
    height: 40px;
    width: 40px;
    display: inline;
    margin-bottom: -60px;
    border-radius: 60px;
}

.fa-code {
    font-size: 8em;
    margin-top: 45px;
}

.fa-pencil {
    font-size: 8em;
    margin-top: 45px;
}

.fa-camera-retro {
    font-size: 8em;
    margin-top: 45px;
}

.group-pic {
    width: 100%;
    height: 600px;
    margin-top: 20px;
}

.service-icons {
    font-size: 9em;
    text-align: center;
}

h1 {
    font-weight: bold;
}

.fa-line-chart {
    margin-top: 60px;
    font-size: 8em;
    
}