<div class="jumbotron jumbosmall">
    <div class="container">
        <h1 class="text-center tittel">Produkter</h1>
    </div>
</div>

<div class="row">
    <div class="container">
        <h2 class="text-center">Kommer snart</h2>
        <p class="text-center">Våre mobildeksel er ikke klare enda, men de kommer snart! Hold deg oppdatert på vår facebook-side "Medie Spesialisten UB"</p>
    </div>
</div>