<div class="jumbotron jumbosmall">
    <div class="container">
        <h1 class="text-center tittel">Produkter</h1>
    </div>
</div>

<div class="row">
    <div class="container">
        <h2 class="text-center">Kommer snart</h2>
        <p class="text-center">Våre mobildeksel er ikke klare enda, men de kommer snart! Hold deg oppdatert på vår facebook-side <a href="http://facebook.com/mediespesialisten">Medie Spesialisten UB</a>. Du kan også forhåndsbestille mobildeksel fra oss på mail: mediespesialisten@gmail.com. Vi kontakter deg angående pris. Vennligst kom tilbake senere for å bestille direkte fra nettstedet.</p>
    </div>
</div>
<hr class="container">
<div class="row">
    <div class="container">
        <h2 class="text-center">Tilgjengelige Mobildeksel</h2></br></br>
        <div class="col-sm-4">
            <p>iPhone 6s og 6s+</p>
        </div>
        <div class="col-sm-4">
            <P>iPhone 6 og 6+</P>
        </div>
        <div class="col-sm-4">
            <p>iPhone 5c</p>
        </div>
        <div class="col-sm-4">
            <p>iPhone 5 og 5s</p>
        </div>
        <div class="col-sm-4">
            <P>Samsung Galaxy S5, S6 og S6 Edge</P>
        </div>
        <div class="col-sm-4">
            <p>Samsung Galaxy Note 4 og 5</p>
        </div>
        <div class="col-sm-4">
            <p>LG G3 og G4</p>
        </div>
        <div class="col-sm-4">
            <P>Zony Xperia Z4 og Z5</P>
        </div>
        <div class="col-sm-4">
            <p>Huawei p8</p>
        </div>
        </br>
        <h3 class="text-center rask">Begrenset Opplag! Vær Rask!</h3>
    </div>
</div>