<div class="jumbotron products_bg">
    
</div>

<div class="container">
    <div class="row">
        <h1 class="text-center">Våre produkter</h1>
        <p class="col-md-offset-4 col-md-4">Våre mobildeksel kan fåes nøytralt eller med eget print! Vi kontakter deg etter bestilling slik at du kan sende oss det trykket du selv vil ha. Du kan også velge å trykke et av våre photo nedenfor.</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
</div>