<div class="jumbotron jumbosmall text-center">
    <h1>Produkter</h1>
</div>

<div class="row">
    <div class="container">
        <div class="col-md-offset-2 col-md-10">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/2000px-Apple_logo_black.svg.png" class="well" />
        <img src="http://2.bp.blogspot.com/-blSZq1FN3xI/VSSrLAv4gaI/AAAAAAAAB3Q/o2ByT3uu-S4/s1600/sony%2Blogo%2Bvector.png" class="well" />
        <img src="https://photos-2.dropbox.com/t/2/AADxlrQaiQsQeZJpEB2lapBljQG-YFJq2D0B-vCHgWzD2A/12/314757479/png/32x32/3/1477414800/0/2/lgLogo.png/EK7bwbYCGPcIIAIoAg/ZYvmVROlPOuRgkjkrQR0YSrNU6Te4Y5T1hN3NGEXS8g?size_mode=3&dl=0&size=2048x1536" class="well" />
        <img src="http://vignette1.wikia.nocookie.net/logopedia/images/d/d1/Huawei.png/revision/latest?cb=20120827114023" class="well" />
        <img src="http://1.bp.blogspot.com/-ho50mMn4Vvg/VSSYVn5fsQI/AAAAAAAAB1s/BXUxQmDgPAI/w1200-h630-p-nu/samsung-logo-vector.png" class="well" />
        </div>
    </div>
</div>